body {
  font-size: 20px;
  font-family: sans-serif;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 2.8em !important;
}

h3 {
  font-size: 2.4em !important;
}
 

.imgCarousel {
  height: 550px;
  width: 100%;
  max-width: 100%;
}
.registrationForm {
  border: solid #777777 2px;
  border-radius: 10px;
  padding: 20px;

}

.presentation {
  min-height: 500px;
  background-color: #333;
}

.weatherApp {
  background-color:#552D51;
  
}

/* .weatherBackground {
  background: url("./images/weather.jpg") !important;
} */
.underHeader {
  min-height: 200px;
  background-color: #888;
}

.footer {
  
  background-color: #333;
 
  height: 100px;
  width: 100%;
 
}

input, textarea {
  margin-top:10px !important;
}


 
.dynamicClass {
  height: 100vh !important;
  background: #333;
}

 
 
